version: "3.9"

services:
  postgres:
    image: postgres:17
    container_name: postgres17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: public
    ports:
      - "5432:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data

  flask_app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: flask_app
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: public
      DB_USER: postgres
      DB_PASSWORD: password
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    depends_on:
      - postgres
